#map{
    height: 100vh;
    width: 100%;
}

.btn-report{
    background-color: #fb5607 !important;
    color: white;
    border: none;
    border-radius: 100px;
    // cursor: pointer;
    width: 150px;
    height: 100px;
    font-size: larger;
}

  