.container {
    max-width: 1000px; 
    margin: auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

.form-check {
    margin-bottom: 20px;
}

.btn-lg {
    font-size: 1.25rem;
    padding: 10px;
}

.alert {
    margin-top: 20px;
}